* {
  margin:0;
  padding:0;
}
body {
  font-family:arial,sans-serif;
}
li {
  padding: 5mm;
}
.issue {
  padding: 10mm;
  border-width:1px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.border {
  border-style:dashed;
}
