
@page {
  size: A4;
  margin: 10mm;
}

* {
  margin:0;
  padding:0;
}

body {
  font-family:DejaVu Sans,sans-serif;
}

.issue {
  margin-bottom: 10mm;
  page-break-inside: avoid;
  border-color: LightGray;
  border-width: 1px;
  border-style: solid;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content {
  padding: 5mm;
}

#placeholder {
  border-color: Black;
  border-width: medium;
  border-style: dashed;
}
