@import url("oblong-post-it.css");

h1 {
  font-size: 30pt;
  font-family:DejaVu Sans,sans-serif;
}

h2 {
  font-size: 26pt;
  font-family:Droid Sans,sans-serif;
}

.header {
  padding-bottom: 5mm;
}

.key {
  display: inline;
  vertical-align: top;
}

.storypoints {
  display: inline;
  text-align: right;
  float: right;
}

